@font-face {
  font-family: 'HKGrotesk-Light';
  src: url("/assets/fonts/HKGrotesk-Light.woff") format("woff"); }

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url("/assets/fonts/HKGrotesk-Regular.woff") format("woff"); }

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url("/assets/fonts/HKGrotesk-Medium.woff") format("woff"); }

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url("/assets/fonts/HKGrotesk-Bold.woff") format("woff"); }

body {
  font-family: "HKGrotesk-Regular", sans-serif, sans-serif;
  color: #000; }

.projects--body {
  font-family: "HKGrotesk-Medium", sans-serif, sans-serif;
  font-size: 2rem; }

p {
  font-size: 1.6rem; }

a {
  font-family: "HKGrotesk-Medium", sans-serif, sans-serif;
  font-size: 1.6rem; }

.nav__main--active {
  text-decoration: line-through; }

.nav__main a {
  font-size: 3rem; }

h1 {
  font-family: "HKGrotesk-Bold", sans-serif, sans-serif;
  font-size: 3rem; }

h2 {
  font-family: "HKGrotesk-Light", sans-serif, sans-serif;
  font-size: 2rem; }

h3 {
  font-family: "HKGrotesk-Bold", sans-serif, sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem; }

h4 {
  font-family: "HKGrotesk-Bold", sans-serif, sans-serif;
  font-size: 2rem; }

.containerLeft__projects--list a,
.projects--title {
  font-family: "HKGrotesk-Bold", sans-serif, sans-serif;
  font-size: 11rem;
  line-height: 1.1; }

aside h1 {
  color: #fff;
  font-size: 2.8rem; }

aside .bio__body {
  color: #fff;
  font-size: 3.2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f7f7f7;
  cursor: url("../img/cursor--arrow.png"), auto; }
  body a:hover {
    cursor: url("../img/cursor--circle.png"), auto; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  padding: 4rem;
  color: #fff;
  transition: all 0.2s ease;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: url("../img/cursor--white.png"), auto; }
  aside .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem; }
  aside .bio__left--item {
    margin-top: 4rem;
    line-height: 1.5; }
  aside .bio__left--item:first-child {
    margin-top: 0; }
  aside .nav__main--overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4rem; }
    aside .nav__main--overlay img {
      width: 4rem; }

.open {
  opacity: 1;
  visibility: visible; }

@-webkit-keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

@keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 94%; }
  50% {
    background-position: 100% 7%; }
  100% {
    background-position: 0% 94%; } }

@keyframes gradient {
  0% {
    background-position: 0% 94%; }
  50% {
    background-position: 100% 7%; }
  100% {
    background-position: 0% 94%; } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes overlayFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes overlayFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

.projects__main {
  padding: 2rem;
  background: #f7f7f7;
  width: 100%; }

.projects__info {
  margin: 20rem 0 4rem;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.projects__case img {
  width: 100%; }

.projects__footer {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .projects__footer .footer__right {
    text-align: right; }

/* HEADER
================================================== */
header {
  padding: 0 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.4s ease;
  z-index: 10; }
  header .nav__container {
    padding: 2rem 0;
    margin: 0;
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: minmax(-webkit-max-content, 1fr);
    grid-template-columns: minmax(max-content, 1fr);
    grid-template-areas: 'nav-left nav-right'; }
  header .nav__left {
    grid-area: nav-left; }
    header .nav__left #logo {
      width: 6rem;
      height: 6rem;
      border-radius: 5rem;
      display: inline-block;
      background: #f44930; }
  header .nav__right {
    grid-area: nav-right;
    grid-column: 12 / -1;
    padding-right: 3rem; }
  header .nav__main {
    display: inline-block; }
    header .nav__main a:link, header .nav__main a:visited {
      text-decoration: none;
      color: #000;
      transition: all 0.2s ease; }

header.scrolled {
  background-color: white; }

/* MAIN CONTENT
================================================== */
main {
  height: 100vh;
  padding: 2rem;
  background: #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right' 'left right'; }
  main .containerLeft {
    grid-area: left;
    padding-right: 2rem;
    border-right: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr 2fr; }
    main .containerLeft__bio {
      padding-left: 8rem;
      border-bottom: 1px dashed #000; }
    main .containerLeft__projects {
      padding-top: 2rem;
      display: grid; }
      main .containerLeft__projects--list {
        align-self: end; }
      main .containerLeft__projects--list:hover a {
        opacity: 0.2; }
      main .containerLeft__projects ul li:hover a {
        opacity: 1; }
      main .containerLeft__projects ul {
        list-style: none; }
      main .containerLeft__projects ul a:link, main .containerLeft__projects ul a:visited {
        text-decoration: none;
        color: #000;
        transition: all 0.2s ease; }
  main .containerRight {
    grid-area: right; }
    main .containerRight__photo {
      background-color: white;
      background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--01 {
  background-color: #d29e80;
  background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--02 {
  background-color: #f6df81;
  background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--03 {
  background-color: #eddce0;
  background-image: url("/img/arena-landing-03.png"); }

.containerRight__photo,
.project__overlay--01,
.project__overlay--02 {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  transition: background-color 0.3s ease; }

.project__overlay--03 {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  transition: background-color 0.3s ease; }

/* FOOTER
================================================== */
footer {
  width: 100vw;
  height: 32rem;
  color: #000;
  padding: 15rem 2rem;
  border-top: 1px dashed #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  footer h4 {
    padding-bottom: 2rem; }
  footer p {
    line-height: 1.5; }
