*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #faf9f7;
  cursor: url("../img/cursor--arrow.png"), auto;
  -webkit-animation: 0.5s moveUp;
          animation: 0.5s moveUp; }
  body a:hover {
    cursor: url("../img/cursor--circle.png"), auto; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #000;
  font-size: 1.6rem; }

a.link__about {
  font-size: 3rem;
  text-decoration: none;
  color: #000; }
  a.link__about:visited {
    color: #000; }
  a.link__about:hover {
    text-decoration: underline; }
  a.link__about:active {
    color: #000; }

h1.text__name {
  font-weight: 600;
  font-size: 3rem; }

h2.text__role {
  font-weight: 400;
  font-size: 2rem; }

h3.text__header {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 2rem; }

a.text__projects {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12rem;
  line-height: 0.9; }

.text__projects--title {
  font-size: 15rem; }

.text__projects--subtitle {
  color: #999999;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  padding-left: 1rem; }

.text__projects--body,
aside .text__bio {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5; }

aside .text__bio {
  line-height: 1.4; }

footer p,
footer .link__social {
  line-height: 1.5;
  color: #000; }

footer .link__social {
  display: block;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif; }
  footer .link__social:visited {
    color: #000; }
  footer .link__social:hover {
    text-decoration: underline; }

.underline {
  text-decoration: underline; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  padding: 3rem;
  color: #fff;
  transition: all 0.2s ease;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  cursor: url("../img/cursor--white.png"), auto; }
  aside .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem; }
  aside .bio__left--item {
    margin-top: 4rem;
    line-height: 1.5; }
  aside .bio__left--item:first-child {
    margin-top: 0; }
  aside .nav__main--overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem; }
    aside .nav__main--overlay img {
      width: 4rem; }

.open {
  opacity: 1;
  visibility: visible; }

@-webkit-keyframes overlayFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes overlayFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes moveUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes moveUp {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

@keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg); } }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 94%; }
  50% {
    background-position: 100% 7%; }
  100% {
    background-position: 0% 94%; } }

@keyframes gradient {
  0% {
    background-position: 0% 94%; }
  50% {
    background-position: 100% 7%; }
  100% {
    background-position: 0% 94%; } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.projects h1 {
  font-size: 10rem; }

.projects__intro--subtitle {
  font-family: 'Asul', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  opacity: 0.25; }

.projects__intro--summary {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.projects--highlight {
  font-family: 'Asul', sans-serif;
  background-color: #f44930;
  color: #fff !important;
  text-align: center;
  padding: 0.6rem;
  border-radius: 0.4rem;
  width: 140px; }

.projects__intro {
  padding: 8rem 15rem; }
  .projects__intro--summary {
    border-top: 1px dashed #000;
    padding-top: 3rem;
    margin-top: 3rem; }

.projects__outro {
  padding: 8rem 15rem; }

.projects__outro--header {
  font-weight: 600;
  font-size: 5rem;
  border-bottom: 1px dashed #000;
  padding-bottom: 1rem;
  margin-bottom: 3rem; }

.projects__outro--summary {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 3rem; }

.projects__hero,
.projects__hero02,
.projects__hero--hub,
.projects__hero--hub02,
.projects__hero--bundl,
.projects__hero--bundl02 {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ecb8ab; }

.projects__hero {
  background-image: url("../img/greatwolf/greatwolf-hero.png"); }

.projects__hero02 {
  background-image: url("../img/greatwolf/greatwolf-hero-02.png"); }

.projects__hero--hub {
  background-color: #efdbab;
  background-image: url("../img/hub/hub-hero.png"); }

.projects__hero--hub02 {
  background-color: #efdbab;
  background-image: url("../img/hub/hub-hero-02.png"); }

.projects__hero--bundl {
  background-color: #fed369;
  background-image: url("../img/bundl/bundl-hero.png"); }

.projects__hero--bundl02 {
  background-color: #fd696e;
  background-image: url("../img/bundl/bundl-hero-02.png"); }

.projects__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .projects__container--text {
    padding: 6rem; }
  .projects__container--subtitle {
    border-bottom: 1px dashed #000;
    padding: 1rem 0;
    margin-bottom: 4rem;
    line-height: 1.4; }

.projects__container--image,
.projects__container--gw01,
.projects__container--gw02,
.projects__container--gw03,
.projects__container--gw04,
.projects__container--hub01,
.projects__container--hub02,
.projects__container--hub03,
.projects__container--hub04,
.projects__container--hub05,
.projects__container--hub06,
.projects__container--bundl01,
.projects__container--bundl02,
.projects__container--bundl03 {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0; }

.projects__container--gw01 {
  background-image: url("../img/greatwolf/greatwolf-research.png"); }

.projects__container--gw02 {
  background-image: url("../img/greatwolf/greatwolf-wires.png"); }

.projects__container--gw03 {
  background-image: url("../img/greatwolf/greatwolf-map.png"); }

.projects__container--gw04 {
  background-image: url("../img/greatwolf/greatwolf-iteration.png"); }

.projects__container--hub01 {
  background-image: url("../img/hub/hub-current.png"); }

.projects__container--hub02 {
  background-image: url("../img/hub/hub-timeline.png"); }

.projects__container--hub03 {
  background-image: url("../img/hub/hub-workflow.png"); }

.projects__container--hub04 {
  background-image: url("../img/hub/hub-load.png"); }

.projects__container--hub05 {
  background-image: url("../img/hub/hub-lane.png"); }

.projects__container--hub06 {
  background-image: url("../img/hub/hub-exception.png"); }

.projects__container--bundl01 {
  background-image: url("../img/bundl/bundl-journey.png"); }

.projects__container--bundl02 {
  background-image: url("../img/bundl/bundl-map.png"); }

.projects__container--bundl03 {
  background-image: url("../img/bundl/bundl-wires.png"); }

.projects p {
  font-weight: 400;
  color: #333;
  font-size: 2.1rem;
  line-height: 1.8;
  margin-bottom: 3rem; }

.projects ul {
  list-style-type: none; }

.item--highlight {
  font-family: 'Asul', sans-serif;
  font-size: 1.8rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px dashed #000;
  line-height: 1.4;
  color: #000;
  font-weight: 700; }

li span {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.projects__footer {
  border-top: 2px solid #000;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .projects__footer--right, .projects__footer--left {
    padding: 3rem 2rem; }
  .projects__footer--right {
    text-align: right; }

.projects__footer--left:hover,
.projects__footer--right:hover {
  background-color: #000;
  color: #fff; }

.projects__footer--title {
  font-family: 'Asul', sans-serif;
  font-weight: 700;
  font-size: 2.2rem; }

.u-padBot {
  padding-bottom: 6rem; }

.u-marBot {
  margin-bottom: 6rem; }

.u-borderNone {
  border: none;
  padding-top: 0; }

.landing__header {
  width: 100%;
  padding: 3rem; }

.landing__body {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000;
  color: #fff;
  display: block;
  cursor: url("../img/cursor--white.png"), auto; }

.landing__content {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 14rem 3rem; }
  .landing__content p {
    font-size: 3.6rem;
    line-height: 1.5;
    padding-bottom: 3rem; }
  .landing__content a {
    color: #fff; }
    .landing__content a:visited {
      color: #fff; }

#logo {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  display: inline-block;
  background: #f44930; }

.landing__footer {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  bottom: 0;
  padding: 40px 3rem;
  margin: 0;
  height: 50px;
  border: none; }
  .landing__footer a {
    color: white; }

.landing__social {
  text-decoration: none;
  display: inline-block;
  padding-right: 3rem; }
  .landing__social:hover {
    text-decoration: underline; }
  .landing__social:last-child {
    padding-right: 0; }

.landing__contact {
  justify-items: center; }

.landing__contact p {
  color: #fff; }

.hoverText {
  position: relative;
  color: #fac12d; }

.hoverText:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fac12d; }

.hoverText--profile img,
.hoverText--arena img,
.hoverText--bundl img {
  display: none; }

.hoverText--profile:hover img {
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  z-index: 10;
  width: 450px; }

.hoverText--arena:hover img {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  z-index: 10;
  width: 500px; }

.hoverText--bundl:hover img {
  position: absolute;
  display: block;
  bottom: 100%;
  right: 0;
  z-index: 10;
  width: 450px; }

.underline {
  text-decoration: none;
  background: linear-gradient(180deg, transparent 70%, #f44930 0) 50%/0 75% no-repeat;
  background-size: 0px 75%;
  background-size: 100% 100%;
  display: inline; }

@media (max-width: 840px) {
  .landing__content p {
    font-size: 2.8rem;
    line-height: 1.5;
    padding-bottom: 3rem; } }

@media (max-width: 680px) {
  .landing__content p {
    font-size: 2.8rem;
    line-height: 1.5;
    padding-bottom: 2rem; }
  .landing__footer {
    display: grid;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    height: 100px;
    grid-template-columns: 1fr;
    padding: 2rem; } }

@media (max-width: 580px) {
  .landing__content {
    overflow: auto;
    padding-bottom: 3rem; }
  .landing__content p {
    font-size: 2.1rem;
    line-height: 1.6; }
  .landing__footer {
    position: relative; } }

@media (min-width: 1680px) {
  .landing__content p {
    font-size: 5rem;
    line-height: 1.6;
    padding-bottom: 3rem; } }

/* HEADER
================================================== */
header {
  padding: 0 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.4s ease;
  z-index: 10; }
  header .nav__container {
    padding: 2rem 0;
    margin: 0;
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: minmax(-webkit-max-content, 1fr);
    grid-template-columns: minmax(max-content, 1fr);
    grid-template-areas: 'nav-left nav-right'; }
  header .nav__left {
    grid-area: nav-left; }
    header .nav__left #logo {
      width: 6rem;
      height: 6rem;
      border-radius: 5rem;
      display: inline-block;
      background: #f44930; }
  header .nav__right {
    grid-area: nav-right;
    grid-column: 12 / -1;
    padding-right: 3rem; }
  header .nav__main {
    display: inline-block; }

header.scrolled {
  background-color: white; }

.headroom {
  will-change: transform;
  transition: -webkit-transform 800ms linear;
  transition: transform 800ms linear;
  transition: transform 800ms linear, -webkit-transform 800ms linear; }
  .headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  .headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

/* MAIN CONTENT
================================================== */
main {
  height: 100vh;
  padding: 2rem;
  background: #faf9f7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right' 'left right'; }
  main .containerLeft {
    grid-area: left;
    padding-right: 2rem;
    border-right: 1px solid #000;
    display: grid;
    grid-template-rows: 1fr 3fr; }
    main .containerLeft__bio {
      padding-left: 8rem;
      border-bottom: 1px dashed #000; }
    main .containerLeft__projects {
      padding-top: 2rem;
      display: grid; }
      main .containerLeft__projects--list {
        align-self: end; }
      main .containerLeft__projects--list:hover a {
        opacity: 0.2; }
      main .containerLeft__projects ul li:hover a {
        opacity: 1;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000; }
      main .containerLeft__projects ul {
        list-style: none; }
      main .containerLeft__projects ul a:link, main .containerLeft__projects ul a:visited {
        text-decoration: none;
        color: #000; }
  main .containerRight {
    grid-area: right; }
    main .containerRight__photo {
      background-color: white;
      background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--01 {
  background-color: #d29e80;
  background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--02 {
  background-color: #f6df81;
  background-image: url("/img/profilePhoto-min.jpg"); }

.project__overlay--03 {
  background-color: #eddce0;
  background-image: url("/img/arena-landing-03.png"); }

.containerRight__photo,
.project__overlay--01,
.project__overlay--02 {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  transition: background-color 0.3s ease; }

.project__overlay--03 {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  transition: background-color 0.3s ease; }

/* FOOTER
================================================== */
footer {
  width: 100vw;
  height: 32rem;
  color: #000;
  padding: 15rem 2rem;
  border-top: 1px dashed #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
