@keyframes hueRotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes overlayFade {
  0% {
    opacity: 0;
    // visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
