@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  background: $color-bg-main;
  cursor: url('../img/cursor--arrow.png'), auto;

  & a:hover {
    cursor: url('../img/cursor--circle.png'), auto;
  }
}
