@import 'variables';

.landing__header {
  width: 100%;
  padding: $padding-l;
}

.landing__body {
  width: 100%;
  height: 100vh;
  position: relative;
  // padding-top: 12rem;
  background: $color-black;
  color: $color-white;
  display: block;
  cursor: url('../img/cursor--white.png'), auto;
}

.landing__content {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 14rem $padding-l;

  & p {
    font-size: 3.6rem;
    line-height: 1.5;
    padding-bottom: $padding-l;
  }

  & a {
    color: $color-white;
    &:visited {
      color: $color-white;
    }
  }
}

#logo {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  display: inline-block;
  background: $color-bg-accent;
}

.landing__footer {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 0;
  bottom: 0;
  padding: $padding-l;
  margin: 0;
  height: 50px;
  border: none;

  & a {
    color: white;
  }
}

.landing__social {
  text-decoration: none;
  display: inline-block;
  padding-right: $padding-l;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    padding-right: 0;
  }
}

.landing__contact {
  justify-items: center;
}

.landing__contact p {
  color: $color-white;
}

.hoverText {
  position: relative;
  color: #fac12d;
}

.hoverText:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fac12d;
}

.hoverText--profile img,
.hoverText--arena img,
.hoverText--bundl img {
  display: none;
}

.hoverText--profile:hover img {
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  z-index: 10;
  width: 450px;
}

.hoverText--arena:hover img {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  z-index: 10;
  width: 500px;
}

.hoverText--bundl:hover img {
  position: absolute;
  display: block;
  bottom: 100%;
  right: 0;
  z-index: 10;
  width: 450px;
}

.underline {
  text-decoration: none;
  background: linear-gradient(180deg, transparent 70%, $color-bg-accent 0) 50%/0 75% no-repeat;
  background-size: 0px 75%;
  background-size: 100% 100%;
  display: inline;
}

// MEDIA QUERIES

@media (max-width: 840px) {
  .landing__content p {
    font-size: 2.8rem;
    line-height: 1.5;
    padding-bottom: $padding-l;
  }
}

@media (max-width: 680px) {
  .landing__content p {
    font-size: 2.8rem;
    line-height: 1.5;
    padding-bottom: $padding-m;
  }
  .landing__footer {
    display: grid;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    height: 100px;
    grid-template-columns: 1fr;
    padding: $padding-m;
  }
}

@media (max-width: 580px) {
  .landing__content p {
    font-size: 2.1rem;
    line-height: 1.6;
  }
}
