@import 'variables';

.projects__main {
  padding: $padding-m;
  background: $color-bg-main;
  width: 100%;
}

.projects__info {
  margin-bottom: $margin-m;
  padding: 6rem $padding-xl;
  display: grid;
  border-bottom: 1px dashed $color-black;

  // &--title {
  //   align-self: center;
  //   justify-self: center;
  // }
}

.projects__case {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $padding-m;

  &--images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $padding-m;
  }
}

.projects__case img {
  width: 100%;
}

.projects__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & .footer__right {
    text-align: right;
  }
}
