/* MEDIA QUERIES
================================================== */

@media (min-width: 1600px) {
  // Home
  a.text__projects {
    font-size: 14rem;
  }

  .text__projects--subtitle {
    font-size: 2rem;
  }

  // Case studies
  .projects {
    & h1 {
      font-size: 15rem;
    }
  }

  .projects__intro--summary,
  .projects__outro--summary {
    font-size: 3rem;
    line-height: 1.8;
  }
}

@media (max-width: 1250px) {
  // Home
  a.text__projects {
    font-size: 8rem;
  }

  .text__projects--subtitle {
    padding-left: 0;
  }

  footer p,
  footer a {
    font-size: 1.3rem;
  }
}

@media (max-width: 940px) {
  // Home
  a.text__projects {
    font-size: 6rem;
  }

  .text__projects--subtitle {
    font-size: 1.3rem;
    padding-left: 0;
    padding-top: 5px;
  }

  .projects {
    & h1 {
      font-size: 8rem;
    }

    &__intro--subtitle {
      font-size: 3rem;
    }
  }

  footer p,
  footer a {
    font-size: 1rem;
  }

  // Case studies

  .projects__intro,
  .projects__outro {
    padding: 8rem 10rem;
  }

  .projects__intro--summary,
  .projects__outro--summary {
    font-size: 2rem;
    line-height: 1.8;
  }

  .projects__container--text {
    padding: $padding-l;
  }

  .projects__container--subtitle {
    font-size: 1.8rem;
  }

  .item--highlight {
    font-size: 1.6rem;
  }

  .projects__container--text p {
    font-size: 1.6rem;
  }
}

@media (max-width: 720px) {
  // Home
  main {
    grid-template-columns: 1fr;

    & .containerLeft {
      border-right: none;
      padding-right: 0;
      grid-template-rows: 1fr 2fr;

      &__bio {
        padding-left: 0;
        padding-top: 8rem;
      }
    }
  }

  .containerRight {
    display: none;
  }

  h1.text__name {
    font-weight: 600;
    font-size: 3rem;
  }

  h2.text__role {
    font-weight: 400;
    font-size: 2rem;
  }

  .link__about {
    font-size: 2rem !important;
  }

  footer {
    padding: 4rem 2rem;
    border-top: 1px dashed $color-black;
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__social,
  .footer__contact {
    margin-bottom: 20px;
  }

  footer .text__header {
    padding-bottom: 5px;
  }

  .link__social {
    padding-bottom: 5px;
  }

  // Bio

  .bio__left {
    grid-area: left;
    padding-bottom: 4rem;
  }

  .bio__right {
    grid-area: right;
    margin-bottom: 2rem;
  }

  aside {
    height: 100%;
    padding: $padding-m;

    & .bio {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(max-content, 1fr);
      grid-template-areas: 'right' 'left';
      padding-top: 8rem;
    }
  }

  aside .text__bio {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: $padding-m;
  }

  // Case studies

  .projects__intro {
    padding: 12rem 2rem 4rem;
  }

  .projects__outro {
    padding: 4rem 2rem 4rem;
  }

  .projects {
    & h1 {
      font-size: 4.4rem;
    }
  }

  .projects__intro--summary,
  .projects__outro--summary {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .projects__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    &--text {
      padding: 2rem;
    }
  }

  .projects__container--image,
  .projects__container--gw01,
  .projects__container--gw02,
  .projects__container--gw03,
  .projects__container--gw04,
  .projects__container--hub01,
  .projects__container--hub02,
  .projects__container--hub03,
  .projects__container--hub04,
  .projects__container--hub05,
  .projects__container--hub06,
  .projects__container--bundl01,
  .projects__container--bundl02,
  .projects__container--bundl03 {
    height: 50vh;
    margin: $margin-m;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .projects__container--hub01,
  .projects__container--bundl02 {
    display: none;
  }

  .u-padBot {
    padding: 0;
  }
}
