@import 'variables';

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('/assets/fonts/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
}

body {
  font-family: $typeface-regular, sans-serif;
  color: $color-black;
}

.projects--body {
  font-family: $typeface-medium, sans-serif;
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-family: $typeface-medium, sans-serif;
  font-size: 1.6rem;
}

.nav__main--active {
  text-decoration: line-through;
}

.nav__main a {
  font-size: 3rem;
}

h1 {
  font-family: $typeface-bold, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: $typeface-light, sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: $typeface-bold, sans-serif;
  font-size: 2rem;
  padding-bottom: $padding-m;
}

h4 {
  font-family: $typeface-bold, sans-serif;
  font-size: 2rem;
}

.containerLeft__projects--list a,
.projects--title {
  font-family: $typeface-bold, sans-serif;
  font-size: 11rem;
  line-height: 1.1;
}

aside h1 {
  color: $color-white;
  font-size: 2.8rem;
}

aside .bio__body {
  color: $color-white;
  font-size: 3.2rem;
}
