@import 'variables';

// @font-face {
//   font-family: 'HKGrotesk-Light';
//   src: url('/assets/fonts/HKGrotesk-Light.woff') format('woff');
// }

// @font-face {
//   font-family: 'HKGrotesk-Regular';
//   src: url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'HKGrotesk-Medium';
//   src: url('/assets/fonts/HKGrotesk-Medium.woff') format('woff');
// }

// @font-face {
//   font-family: 'HKGrotesk-Bold';
//   src: url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
// }

body {
  font-family: 'Work Sans', sans-serif;
  color: $color-black;
  font-size: 1.6rem;
}

a.link__about {
  font-size: 3rem;
  text-decoration: none;

  &:visited {
    color: $color-black;
  }

  &:hover {
    text-decoration: line-through;
  }
}

h1.text__name {
  font-weight: 600;
  font-size: 3rem;
}

h2.text__role {
  font-weight: 400;
  font-size: 2rem;
}

h3.text__header {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: $padding-m;
}

a.text__projects {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12rem;
  line-height: 1.02;
}

.text__projects--title {
  font-size: 15rem;
}

.text__projects--body,
aside .text__bio {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

aside .text__bio {
  line-height: 1.4;
}

footer p,
footer .link__social {
  line-height: 1.5;
  color: $color-black;
}

footer .link__social {
  display: block;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;

  &:visited {
    color: $color-black;
  }

  &:hover {
    text-decoration: line-through;
  }
}

.underline {
  text-decoration: underline;
}
