@import 'variables';

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('/assets/fonts/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
}

body {
  font-family: 'Work Sans', sans-serif;
  color: $color-black;
}

p {
  font-size: 1.6rem;
}

a.text__overlay {
  font-size: 1.6rem;
}

.nav__main a {
  font-size: 3rem;
}

h1.text__name {
  font-weight: 600;
  font-size: 3rem;
}

h2.text__role {
  font-weight: 400;
  font-size: 2rem;
}

h3.text__header {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: $padding-m;
}

a.text__projects {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 11rem;
  line-height: 1.05;
}

.projects--title {
  font-family: $typeface-bold, sans-serif;
  font-size: 15rem;
  line-height: 1.1;
}

.text__projects--body {
  font-size: 3.5rem;
  font-weight: 00;
  line-height: 1.2;
}

.projects__info--label {
  font-family: $typeface-bold, sans-serif;
  font-size: 1.8rem;
  margin-bottom: $padding-m;
}

aside h1 {
  color: $color-white;
  font-size: 2.8rem;
}

aside .bio__body {
  color: $color-white;
  font-size: 3.2rem;
}
