$color-bg-main: #faf9f7;
$color-bg-accent: #f44930;
$color-bg-secondary: #efdbab;
$color-white: #fff;
$color-black: #000;
$color-black-lighten: lighten($color-black, 50%);

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 4rem;

$margin-s: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;
$margin-xl: 4rem;

$typeface-light: 'HKGrotesk-Light', sans-serif;
$typeface-regular: 'HKGrotesk-Regular', sans-serif;
$typeface-medium: 'HKGrotesk-Medium', sans-serif;
$typeface-bold: 'HKGrotesk-Bold', sans-serif;
