$color-bg-main: #f7f7f7;
$color-bg-accent: #f44930;
$color-bg-secondary: #efdbab;
$color-white: #fff;
$color-black: #000;
$color-black-lighten: lighten($color-black, 50%);

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 4rem;

$margin-s: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;
$margin-xl: 4rem;
