/* VARIABLES
================================================== */

$color-bg-main: #f7f7f7;
$color-bg-accent: #f2f1eb;
$color-bg-overlay: #c66d5f;
$color-white: #fff;
$color-black: #000;
$color-black-lighten: lighten($color-black, 50%);

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 4rem;

$margin-s: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;

/* EXTENDS
================================================== */

/* BASE
================================================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  background: $color-bg-main;
}

/* HEADER
================================================== */

header {
  grid-area: nav;
  border-bottom: 1px solid $color-black;
  padding: $padding-m 0;
  margin-bottom: $margin-m;
  display: grid;
  align-self: center;
  align-items: center;
  grid-template-columns: minmax(max-content, 1fr);
  grid-template-areas: 'nav-left nav-right';

  & .nav__left {
    grid-area: nav-left;

    & #logo {
      width: 6rem;
      height: 6rem;
      border-radius: 5rem;
      display: inline-block;
      position: fixed;
      left: 0;
      top: 0;
      margin: $margin-m $padding-xl;
      background: $color-bg-overlay;
      background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
      animation: hueRotate 8s linear infinite;
    }
  }

  & .nav__right {
    grid-area: nav-right;
    grid-column: 12 / -1;
  }

  & .nav__main {
    display: grid;

    & ul {
      list-style: none;
      text-align: right;
    }

    & ul:hover a {
      opacity: 0.2;
    }

    & ul li:hover a {
      opacity: 1;
    }

    & ul a {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-black;
        transition: all 0.2s ease;
      }
    }
  }
}

/* MAIN CONTENT
================================================== */

main {
  height: 100vh;
  box-sizing: border-box;
  padding: 0 $padding-xl $padding-m $padding-xl;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 'nav nav' 'left right';

  & .containerLeft {
    grid-area: left;
    padding-right: $padding-m;
    border-right: 1px solid $color-black;
    display: grid;
    grid-template-rows: 1fr 3fr;

    &__bio {
      border-bottom: 1px dashed $color-black;
    }

    &__projects {
      padding-top: $padding-m;
      display: grid;

      &--list {
        align-self: end;
      }

      &--list:hover a {
        opacity: 0.2;
      }

      & ul li:hover a {
        opacity: 1;
      }

      & ul {
        list-style: none;
      }

      & ul a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $color-black;
          transition: all 0.2s ease;
        }
      }
    }
  }

  & .containerRight {
    grid-area: right;
    padding-left: $padding-m;

    &__overlay {
      background-color: white;
      background-image: url('/img/profilePhoto-min.jpg');
    }
  }
}

.project__overlay--01 {
  background: #cee4d9;
  background-image: url('/img/profilePhoto-min.jpg');
}

.project__overlay--02 {
  background: #f6d952;
  background-image: url('/img/profilePhoto-min.jpg');
}

.project__overlay--03 {
  background: #e8dfd8;
  background-image: url('/img/profilePhoto-min.jpg');
}

.containerRight__overlay,
.project__overlay--01,
.project__overlay--02,
.project__overlay--03 {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  transition: background 0.3s ease;
}

/* OVERLAY
================================================== */

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-bg-overlay;
  padding: $padding-xl;
  color: $color-black;
  transition: all 0.5s ease;
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  & .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.open {
  opacity: 1;
  visibility: visible;
}

.close {
  opacity: 0;
  visibility: hidden;
}

/* FOOTER
================================================== */

footer {
  width: 100%;
  height: 40rem;
  background: $color-bg-accent;
  color: $color-black;
  padding: $padding-xl;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;

  & .footer__right {
    justify-self: end;
  }

  & .icon {
    fill: $color-white;
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: $margin-s;
    }
  }
}

// span {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   margin: $margin-l;
//   font-family: 'HKGrotesk-Bold', sans-serif;
//   font-size: 3rem;
// }

/* TYPOGRAPHY
================================================== */

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('/assets/fonts/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
}

body {
  font-family: 'HKGrotesk-Regular', sans-serif;
  color: $color-black;
}

p {
  font-size: 1.6rem;
}

a {
  font-family: 'HKGrotesk-Medium', sans-serif;
  font-size: 1.6rem;
}

.nav__main--active {
  text-decoration: line-through;
}

h1 {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'HKGrotesk-Light', sans-serif;
  font-size: 2rem;
}

.containerLeft__projects--list a {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-size: 8rem;
}

h4 {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-size: 2rem;
}

/* KEYFRAMES
================================================== */

@keyframes hueRotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
