/* VARIABLES
================================================== */

$color-bg-main: #f7f7f7;
$color-bg-accent: #f44930;
$color-white: #fff;
$color-black: #333;
$color-black-lighten: lighten($color-black, 50%);

$padding-s: 1rem;
$padding-m: 2rem;
$padding-l: 3rem;
$padding-xl: 4rem;

$margin-s: 1rem;
$margin-m: 2rem;
$margin-l: 3rem;

/* BASE
================================================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  background: $color-bg-main;
}

/* NAV
================================================== */

header {
  grid-area: nav;
  border-bottom: 1px solid $color-black;
  padding: $padding-m 0;
  margin-bottom: $margin-m;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'nav-left nav-right';

  & .nav__left {
    grid-area: nav-left;

    & #circle {
      width: 6rem;
      height: 6rem;
      border-radius: 5rem;
      display: inline-block;
      background: red;
      background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
      animation: hueRotate 8s linear infinite;
    }
  }

  & .nav__right {
    grid-area: nav-right;
    grid-column: 12 / -1;

    // MAIN NAV

    & .nav__main {
      display: grid;

      & ul:hover a {
        opacity: 0.2;
      }

      & ul li:hover a {
        opacity: 1;
      }

      & ul {
        list-style: none;
        text-align: right;
      }

      & ul a {
        display: block;
        align-self: center;
        justify-self: end;

        &:link,
        &:visited {
          text-decoration: none;
          color: #333;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

/* MAIN CONTENT
================================================== */

main {
  height: 100vh;
  box-sizing: border-box;
  padding: 0 $padding-xl $padding-m $padding-xl;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 'nav nav' 'left right';

  & .container__left {
    grid-area: left;
    padding-right: $padding-m;
    border-right: 1px solid $color-black;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &--bio {
      // border-bottom: 1px dashed $color-black-lighten;
    }

    &--projects {
      // padding-top: $padding-m;

      & ul:hover a {
        opacity: 0.2;
      }

      & ul li:hover a {
        opacity: 1;
      }

      & ul {
        list-style: none;
      }

      & ul a {
        display: block;
        align-self: center;
        justify-self: end;

        &:link,
        &:visited {
          text-decoration: none;
          color: #333;
          transition: all 0.2s ease;
        }
      }
    }
  }

  & .container__right {
    grid-area: right;
    padding-left: $padding-m;

    &--frame {
      background: white;
      display: grid;
      height: 100%;
      transition: all 0.5s ease;

      &:hover {
        background: red;
      }
    }

    & img {
      align-self: center;
      justify-self: center;
      width: 70%;
    }
  }
}

/* FOOTER
================================================== */

footer {
  width: 100%;
  height: 15rem;
  background: $color-bg-accent;
  color: $color-white;
  padding: $padding-xl;

  display: grid;
  justify-content: left;
  align-items: center;
}

// .spin-img {
//   animation: spin 5s linear infinite;
// }

/* TYPOGRAPHY
================================================== */

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('/assets/fonts/HKGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('/assets/fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('/assets/fonts/HKGrotesk-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('/assets/fonts/HKGrotesk-Bold.woff') format('woff');
}

body {
  font-family: 'HKGrotesk-Regular', sans-serif;
  color: $color-black;
}

p {
  font-size: 1.6rem;
}

a {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

h1 {
  font-family: 'HKGrotesk-Bold';
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  text-decoration: underline;
}

.project--list a {
  font-family: 'HKGrotesk-Bold', sans-serif;
  font-size: 8rem;
}

/* KEYFRAMES
================================================== */

@keyframes hueRotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
